/*

  STYLES

  Add custom styles here.

*/

  @media (min-width: 600px) {
#hoverhax:hover:after{
  content:  attr(data);
  position: absolute;
  color: black;
  padding-left: 2px 4px;
  font-size: 1.15rem;
  display: flex;
  left: 58%;
  margin-top: -2rem;
}
}

  @media (min-width: 600px) {
#hoverhax2:hover:after{
  content:  attr(data);
  position: absolute;
  color: black;
  padding-left: 2px 4px;
  font-size: 1.15rem;
  display: flex;
  margin-top: 1rem;
  left: 50%;
}
}

#hoverhax a { 
  text-decoration: none;
  color: black;
}
